/*
colorPalette
black #1E1514
white #FFFFFF
champagne #ECD5BB
forestgreen #013A20
*/
html {
	height: 100%; /* changed from 100vh to 100% */
	width: 100%; /* add */
	max-width: 100%; /* add */
	font-size: 100%;
}

body {
	background-color: #013A20;
	min-height: 90vh !important;
	font-family: Arial;
	font-size: 1rem;
	line-height: 2rem;
	-webkit-text-size-adjust: 100%;
	padding: 3vh 3vw; /* changed from vh vw */
	width: 90% !important; /* important. change from 90vw */
	margin: auto;
}

article {
	min-height: 88vh;
	background-color: #FFFFFF;
	padding: 3vw 3vh;
	margin: 3vh auto;
	max-width: 720px;
	width: 80% ; /* change from 80vw */
	color: #000; 
	box-shadow: 1em 1em 1em black;
	text-align: justify;
}

div {
	color: #ECD5BB;
	background-color: #1E1514;
	padding: 1em;
	margin-bottom: 1em;
	text-align: justify;
}

img {
	border-radius: 50%;
	border-width: 0.2em;
	margin: auto;
	display: block;
}
