:root {
	/* color palette */
	--black: #000000;
	--white: #EEEEEE;
	--background: #222222;
	--paperbg: #DDDDDD;
}

html {
	/* size */
	height: 100%; /* changed from 100vh to 100% */
	width: 100%; /* check */
	max-width: 100%; /* check */
	font-size: 100%;
}

body {
	/* size and position */
	min-height: 90vh !important;
	width: 90% !important; /* important. change from 90vw */
	margin: auto;
	padding: 3vh 3vw; /* changed from vh vw */

	/* text and font */
	font-family: 'Courier New', monospace;
	font-size: 1rem;
	line-height: 1.5rem;
	-webkit-text-size-adjust: 100%;

	/* color */
	background-color: var(--background);
	background-image: url(media/svg/pattern.svg);
	background-size: 10vw 10vw;
}

pre {
	line-height: 1rem;
}

/* this page only has content on this element. */
article {
	/* size & position */
	width: 80%; /* change from 80vw */
	min-height: 70vh;
	margin: 3vh auto;
	padding: 3vw 3vh;

	overflow: hidden; /* not working now */

	/* font and text */
	text-align: justify;

	/* color */
	background-color: var(--black);
	color: var(--white);
}

#screen {
	overflow: hidden;
}

/* the only image is #amir. */
img {
	/* size & position */
	margin: 10vh auto;
	display: block;
	height: 10vw;
	width: 10vw;
}

div {
	background-color: var(--white);
	color: red;
	padding: 5px;
	margin: 10vh auto;
	width: 15vw;
	max-width: 20vw;
	border-radius: 50vh;
	text-align: center;
	font-size: 3vw;
}
