:root {
	/* color palette */
	--yellow: #FBE7C6;
	--pink: #FFAEBC;
}

html {
	/* size */
	height: 100%;
	width: 100%;
	max-width: 100%;
	font-size: 100%;
}

body {
	/* size and position */	
	width: 90% !important;
	min-height: 90vh !important;
	padding: 3vh 3vw;
	margin: auto;
	/* color */
	background-color: var(--yellow);
	/* font */
	font-family: Arial;
	font-size: 1rem; 
	line-height: 2rem;
	-webkit-text-size-adjust: 100%;
}

article {
	/* size and position */
	width: 80%;
	max-width: 720px;
	min-height: 50vh;
	margin: auto;
	padding: 3vh 3vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* color */
	background-color: var(--pink);
	color: #1E1514;
	text-align: justify;
	/* shadow */
	box-shadow: 1em 1em 1em rgba(0,0,0,0.5);
}

#memoji {
	/* size and position */
	width: 9rem;
	height: 9rem;
	margin: auto;
	display: block;
}

article a , p {
	text-align: center;
}

a {
	/* size & position */
	display: block;
	margin: auto;
	overflow: visible;
	/* text */
	color: black;
	text-decoration: none;
	font-size: 7vmin; /*3vm*/
	/* animation */
	animation-name: xenon;
	animation-duration: 3s;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
}

@keyframes xenon {
	0% {color; black;}
	50% {color: gray;}
	100% {color: black;}
}

#media {
	/* size & position */
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 20vh;
  	align-items: center;
}

.media {
	/* size & position */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33%;
	margin: auto;
	height: 100%;
}
