/*
colorPalette
black #1E1514
white #FFFFFF
champagne #ECD5BB
forestgreen #013A20
*/
html {
	height: 100%; /* changed from 100vh to 100% */
	width: 100%; /* add */
	max-width: 100%; /* add */
	font-size: 100%;
}

body {
	background-color: #151B25;
	min-height: 90vh !important;
	font-family: Arial;
	font-size: 1rem;
	line-height: 2rem;
	-webkit-text-size-adjust: 100%;
	padding: 3vh 3vw; /* changed from vh vw */
	width: 90% !important; /* important. change from 90vw */
	margin: auto;
}

article {
	min-height: 50vh; /* change from 88vw */
	background-color: #AEB8C4;
	padding: 3vw 3vh;
	max-width: 720px;
	width: 80% ; /* change from 80vw */
	color: #000; 
	box-shadow: 1em 1em 1em black;
	text-align: justify;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#amir {
	border-radius: 50%;
	border-width: 0.2em;
	margin: auto;
	display: block;
}

article a , p {
	text-align: center;
}

#button {
	background-color: #151B25;
	animation-name: xenon;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	color: white;
	text-decoration: none;
	display: inline-block;
	position: absolute;
	bottom: 3vh;	
	left: 50%;
	margin: auto;
	width: 80%; 
	padding: 3vh 3vw;
	transform: translate(-50%);
}

@keyframes xenon {
	0% {color; white;}
	50% {color: gray;}
	100% {color: white;}
}

a img { /* select all img inside a tag. or media */
	display: inline-block;
	/* background-color: red; */
	position: relative;
	top: 13vh;
	width: 1.5rem;
	height: 1.5rem;
	padding: 0;
	margin: 0;
}
